@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(#2b1055, #7597de); */
    overflow-x: hidden;

}



section {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: initial;
    height: 100vh;
    object-fit: fill;
    pointer-events: none;
    filter: drop-shadow(0px, 20px, 10px, black );
    transform: scaleX(2);
    
}


section img#zero{
    z-index: 2000;
    transform: translateX(-100px) scaleX(2);
    

}
section img#one{
    z-index: 500;
    
}
section img#two{
    z-index: 400;
}
section img#three{
    z-index: 300;
    transform: translateX(100px) scaleX(2);
}
section img#four{
    z-index: 200;
    
}
section img#five{
    z-index: 100;
}
.wave-button {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1000;
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0522;
    text-align: center;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;

}

.sec p {
    font-size: 1em;
    color: #fff;
}

/* section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
} */
a {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    top: 50px;
}
a span{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    z-index: 2000;
    font-weight: 700;
}
a .liquid{
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #a921c4;
    /* box-shadow: inset 0 0 50 rgba(0, 0, 0, 0); */
    transition: 0.5s;
}
a .liquid::after,
a .liquid::before{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: black;
}
a .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 0.509);
    animation: animate 5s linear infinite;
}
a .liquid::after{
    border-radius: 40%;
    background: rgba(20,20,20,0.5);
    animation: animate 10s linear infinite;
}
a:hover .liquid{
    top: -120px;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
.fade-in-out {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    overflow-x: hidden;
    background-color: #1c0522;
}

.fade-in-out span {
    display: inline-block;
    width: 100%;
    height: 200px;

    font-size: 50px;

    color: grey;
    opacity: 0.3;
    -moz-transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;

}

.highlight span {
    opacity: 1;
    color: white;

}

.fade-in-out li {
    margin: 60px 0;
}

.fade-in-out h5 {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.fade-in-out p {
    font-size: 24px;
}

/* gallery section */

#gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #1c0522, #000000);
    font-family: Helvetica;
}

#gallery::before {
    content: none;
}

.fill-purple {
    /* background-image: linear-gradient(90deg, #4addff, #a34dfe); */
    background-image: url('https://picsum.photos/300/400');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 2px solid white; */
}

.fill-green {
    /* background-image: linear-gradient(90deg, #ffe40c, #33d497); */
    background-image: url('https://picsum.photos/400/300');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 2px solid white; */
}

.fill-blue {
    /* background-image: linear-gradient(90deg, #285ca5, #18d5ff); */
    background-image: url('https://picsum.photos/200/300');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 2px solid white; */
}

.fill-orange {
    /* background-image: linear-gradient(90deg, #fcf595, #ff954d);
   */
    background-image: url('https://picsum.photos/300/300');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* border: 2px solid white; */
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15.875rem;
    width: 100%;
}

.card {
    display: flex;
    width: 27.8125rem;
    height: 16.25rem;
    border-radius: 0.5rem;
    transform-origin: center center;
    transform: scale(1) translate(0px, 0px) perspective(750px) rotateY(0deg);
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
    z-index: 3;
    cursor: pointer;
    overflow: hidden;

}

.card * {
    pointer-events: none;
}

.card--left {
    transform: scale(0.75) translate(-335px, 0px) perspective(750px) rotateY(10deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card--center {
    transform: scale(1) translate(0px, 0px) perspective(750px) rotateY(0deg);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.card--right {
    transform: scale(0.75) translate(335px, 0px) perspective(750px) rotateY(-10deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.card--back {
    transform: scale(0.5) translate(335px, 0px) perspective(750px) rotateY(-10deg);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.card__icon {
    width: 30%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__icon:before {
    content: attr(data-icon);
    font-size: 3rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 1);
}

.card__detail {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* contact-us info */
#contact-info {
    background-image: linear-gradient(to bottom, #0c121f, black);
    width: 100%;
    height: 100vh;
    margin-top: -100px;
}

#contact-info::before {
    content: none;
}

.box {
    width: 20vh;
    height: 20vh;

    margin: 20px;
    border-radius: 10px;
    border: 5px solid white;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.box:nth-child(1) {
    transition-delay: 0ms;
}

.box:nth-child(2) {
    transition-delay: 200ms;
}

.box:nth-child(3) {
    transition-delay: 400ms;
}

.box:nth-child(4) {
    transition-delay: 600ms;
}

/* @media only screen and (max-width: 600px) {
    .stagger {
        display: flex;
        flex-wrap: wrap;
        
    }
} */
.box:nth-child(1)::after{
    content: "Head 1";
    color: white;
    position: absolute;
    bottom: -30px;
    right: 50px;
}
.box:nth-child(2)::after{
    content: "Head 2";
    color: white;
    position: absolute;
    bottom: -30px;
    right: 50px;
}
.box:nth-child(3)::after{
    content: "Head 3";
    color: white;
    position: absolute;
    bottom: -30px;
    right: 50px;
}
.box:nth-child(4)::after{
    content: "Head 4";
    color: white;
    position: absolute;
    bottom: -30px;
    right: 50px;
}
@media only screen and (max-width : 736px) {
    .cards {
        flex-direction: column;
        margin: auto 0;
    }

    .card {
        display: flex;
        width: 90%;
    }

    .card--left {
        transform: scale(0.75) translate(0px, -150px) perspective(750px) rotateY(0) rotateX(-10deg) translateZ(-5px);
    }

    .card--center {
        transform: scale(1) translate(0px, 0px) perspective(750px) rotateY(0deg) rotateX(0deg) translateZ(5px);
    }

    .card--right {
        transform: scale(0.75) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
    }

    .card--back {
        transform: scale(0.1) translate(0px, 150px) perspective(750px) rotateY(0) rotateX(10deg) translateZ(-5px);
    }

    .card__icon:before {
        transform: scale(0.75);
    }
    /* for contact us section */
    
}
/* test section */

.head-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  /*   flex-direction: column; */
  background-color: black;
  }
  
  .head-card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    
  }
  
  .head-card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .head-card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .head-card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .head-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  
  /*
  .card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }
  */